.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.CardMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.CardMain button {
    margin: 10px;
}